<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Qué me pongo</title>

</head>

<body th:style="'background:url('+ @{/bkgd.jpg} +') no-repeat fixed right bottom;'" onload="load();">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Crear guardarropas</h1>
    </div>
    <div>
        <img src="../crearGuardarropasButton.jpg">
        <img src="../back.jpg" style="cursor: pointer;" title="Volver" id="backButton" alt="Volver">
    </div>
    <div id="authTokenDiv" hidden><span th:text="${authToken}"></span></div>
    <div>
        <table>
            <tr>
                <td>
                    Nombre
                    <input th:id="nombre" th:type="text"></input>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../crearButton.jpg" style="cursor: pointer;" title="Crear" id="botonCrear" alt="Crear">
                </td>
            </tr>
        </table>
    </div>

</main>

<script type="text/javascript">
    var idToken;
    document.getElementById("botonCrear").onclick = function(){
        crear();
    };
    document.getElementById("backButton").onclick = function(){
        window.history.back();
    };
    function load(){
        idToken = document.getElementById("authTokenDiv").innerHTML.replace("<span>","").replace("</span>","");
    };
    function crear(){
        //podria validar que ese nombre no este en la lista que me traje inicialmente
        var payload = {
            nombre: nombre.value
        };
        $.ajax({
            asynch: false,
            type: "POST",
            url: "/user/guardarropa?idToken=" + idToken,
            data: JSON.stringify(payload),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                alert("El guardarropas se ha guardado correctamente.");
            },
            error: function(response){
                alert("Ha ocurrido un error.");
            }
        });
    };
</script>
</body>
</html>