<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Qué me pongo</title>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Ventana Principal</h1>
        <h2>
            <span th:text="'Hola, ' + ${name}"></span>
        </h2>
    </div>
    <div id="authTokenDiv" hidden><span th:text="${authToken}"></span></div>
    <div>
        <table>
            <tr>
                <td>
                    <button id="crearGuardarropasButton">Crear guardarropa</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="pedirAtuendoButton">Pedir atuendo</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="agregarPrendaButton">Agregar prenda a guardarropa</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="crearEventoButton">Crear evento</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="verGuardarropasButton">Ver guardarropas</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="verEventosButton">Ver eventos</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="logoutButton">Salir</button>
                </td>
            </tr>
        </table>
    </div>

</main>
<script type="text/javascript">
    var authTokenValue = document.getElementById("authTokenDiv").innerHTML.replace("<span>","").replace("</span>","");
    document.getElementById("crearGuardarropasButton").onclick = function(){
        window.location.href = '/gui/guardarropas?authToken=' + authTokenValue;
    };
    document.getElementById("pedirAtuendoButton").onclick = function(){
        window.location.href = '/gui/atuendo?authToken=' + authTokenValue;
    };
    document.getElementById("agregarPrendaButton").onclick = function(){
        window.location.href = '/gui/prenda?authToken=' + authTokenValue;
    };
    document.getElementById("crearEventoButton").onclick = function(){
        window.location.href = '/gui/evento?authToken=' + authTokenValue;
    };
    document.getElementById("verGuardarropasButton").onclick = function(){
        window.location.href = '/gui/verGuardarropas?authToken=' + authTokenValue;
    };
    document.getElementById("verEventosButton").onclick = function(){
        window.location.href = '/gui/verEventos?authToken=' + authTokenValue;
    };
    document.getElementById("logoutButton").onclick = function(){
        window.location.href = '/login?logoutNow=true';
    };
</script>
</body>
</html>