<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Qué me pongo</title>

</head>

<body th:style="'background:url('+ @{/bkgd.jpg} +') no-repeat fixed right bottom;'" >

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Que me pongo</h1>
        <h2>
            <span th:text="'Bienvenido, ' + ${name} + '. Por favor elegí una opción.'"></span>
        </h2>
    </div>
    <div id="authTokenDiv" hidden><span th:text="${authToken}"></span></div>
    <div>
        <table style="margin-left:auto;margin-right:auto;">
            <tr>
                <td title="Crear nuevo guardarropa">
                    <img src="../crearGuardarropasButton.jpg" style="cursor: pointer;"  id="crearGuardarropasButton" alt="Crear nuevo guardarropa">
                </td>
                <td style="width:50px">
                </td>
                <td title="Pedir atuendo">
                    <img src="../pedirAtuendoButton.jpg" style="cursor: pointer;"  id="pedirAtuendoButton" alt="Pedir atuendo">
                </td>
                <td style="width:50px">
                </td>
                <td title="Agregar prenda a guardarropas">
                    <img src="../agregarPrendaButton.jpg" style="cursor: pointer;"  id="agregarPrendaButton" alt="Agregar prenda a guardarropas">
                </td>
                <td style="width:200px">
                </td>
            </tr>
            <tr>
                <td title="Crear un evento">
                    <img src="../crearEventoButton.jpg" style="cursor: pointer;"  id="crearEventoButton" alt="Crear evento">
                </td>
                <td style="width:50px">
                </td>
                <td title="Ver guardarropas">
                    <img src="../verGuardarropasButton.jpg" style="cursor: pointer;" id="verGuardarropasButton" alt="Ver guardarropas">
                </td>
                <td style="width:50px">
                </td>
                <td title="Ver eventos">
                    <img src="../verEventosButton.jpg" style="cursor: pointer;" id="verEventosButton" alt="Ver eventos">
                </td>
                <td style="width:200px">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td title="Salir">
                    <img src="../logoutButton.jpg"  style="cursor: pointer;" id="logoutButton" alt="Salir">
                </td>
            </tr>
        </table>
    </div>

</main>
<script type="text/javascript">
    var authTokenValue = document.getElementById("authTokenDiv").innerHTML.replace("<span>","").replace("</span>","");
    document.getElementById("crearGuardarropasButton").onclick = function(){
        window.location.href = '/gui/guardarropas?authToken=' + authTokenValue;
    };
    document.getElementById("pedirAtuendoButton").onclick = function(){
        window.location.href = '/gui/atuendo?authToken=' + authTokenValue;
    };
    document.getElementById("agregarPrendaButton").onclick = function(){
        window.location.href = '/gui/prenda?authToken=' + authTokenValue;
    };
    document.getElementById("crearEventoButton").onclick = function(){
        window.location.href = '/gui/evento?authToken=' + authTokenValue;
    };
    document.getElementById("verGuardarropasButton").onclick = function(){
        window.location.href = '/gui/verGuardarropas?authToken=' + authTokenValue;
    };
    document.getElementById("verEventosButton").onclick = function(){
        window.location.href = '/gui/verEventos?authToken=' + authTokenValue;
    };
    document.getElementById("logoutButton").onclick = function(){
        window.location.href = '/login?logoutNow=true';
    };
</script>
</body>
</html>