<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Qué me pongo</title>
</head>

<body th:style="'background:url('+ @{/bkgd.jpg} +') no-repeat fixed right bottom;'" onload="load();">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Pedir atuendo aleatorio
        </h1>
        <img src="../back.jpg" style="cursor: pointer;"  title="Volver"  id="backButton" alt="Volver">
    </div>
    <div id="authTokenDiv" hidden><span th:text="${authToken}"></span></div>
    <div>
        <table>
            <tr>
                <td>
                    Todos los guardarropas
                    <input th:id="allGuardarropas" th:type="checkbox"></input>
                </td>
            </tr>
            <tr>
                <td>
                    Seleccionar guardarropas
                    <select th:id="selectGuardarropas"></select>
                </td>
            </tr>
            <tr>
                <td>
                    Personalizar partes
                    <input th:id="customChk" th:type="checkbox"></input>
                </td>
            </tr>
            <tr>
                <td>
                    Partes del cuerpo
                    <div th:id="partesContainer"></div>
                </td>
            </tr>
            <tr>
                <td>
                    Seleccionar metodo
                    <select th:id="selectMetodo"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="pedirAtuendo();">Pedir atuendo</button>
                </td>
            </tr>
        </table>
        <div th:id="results"></div>
    </div>

</main>
<script type="text/javascript">
    var partesCuerpo = [];
    var checkboxes = [];
    var idToken;
    document.getElementById("backButton").onclick = function(){
        window.history.back();
    };
    document.getElementById("allGuardarropas").onclick = function(){
        document.getElementById('selectGuardarropas').disabled = document.getElementById('allGuardarropas').checked;
    };
    document.getElementById("customChk").onclick = function(){
        changeStatusAllCheckboxes(!document.getElementById('customChk').checked);
    };
    function load(){
        idToken = document.getElementById("authTokenDiv").innerHTML.replace("<span>","").replace("</span>","");
        loadGuardarropas();
        loadPartesCuerpo();
        var optionAleatorio = document.createElement("option");
        optionAleatorio.text = "Aleatorio";
        optionAleatorio.value = "random";
        selectMetodo.add(optionAleatorio);
        var optionClima = document.createElement("option");
        optionClima.text = "Clima";
        optionClima.value = "atuendo";
        selectMetodo.add(optionClima);
    };
    function loadGuardarropas(){
        $.ajax({
            asynch: false,
            type: "GET",
            url: "/user/guardarropa?idToken=" + idToken,
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                for(var x in response){
                    var elem = response[x];
                    var option = document.createElement("option");
                    option.text = elem.nombre;
                    option.value = elem.id;
                    selectGuardarropas.add(option);
                }
            },
            error: function(response){
                alert("Ha ocurrido un error.");
            }
        });
    };
    function pedirAtuendo(){
        if(selectGuardarropas.selectedIndex == -1){
            alert("No hay guardarropas");
            return;
        }
        var partesCuerpo = [];
        var idGuardarropas = selectGuardarropas[selectGuardarropas.selectedIndex].value;
        var metodo = selectMetodo[selectMetodo.selectedIndex].value;
        var urlEnd;
        var allGuardarropasSelected = document.getElementById('allGuardarropas').checked;
        if(metodo == 'random')  {
            if(allGuardarropasSelected) {
                urlEnd = "random";
            } else {
                urlEnd = idGuardarropas + "/random";
            }
        } else {
            if(allGuardarropasSelected) {
                alert('Si elije la opción de clima debe elegir un guardarropas.');
                return;
            }
            urlEnd = idGuardarropas + "/atuendo";
        }

        var custom = document.getElementById('customChk').checked;
        urlEnd += "?custom=" + custom;
        if(custom){
            var partesSel = getPartesSeleccionadas();
            if(partesSel == ""){
                alert("Si elige personalizar, debe elegir al menos una parte.");
                return;
            }
            urlEnd += "&parts=" + partesSel;
        }

        $.ajax({
            asynch: false,
            type: "GET",
            url: "/user/guardarropa/" + urlEnd + "&idToken=" + idToken,
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                if(allGuardarropasSelected){
                    var all = [];
                    for(var x in response){
                        var responseElem = response[x];
                        var prendas = responseElem.prendasElegidas;
                        var partes = responseElem.partesCuerpoACubrir;
                        all.push(crearTablaResultados(prendas));
                        all.push("<br>");
                    }
                    $('#results').html(all.join(""));
                }else{
                    var prendas = response.prendasElegidas;
                    var partes = response.partesCuerpoACubrir;
                    $('#results').html(crearTablaResultados(prendas));
                }
            },
            error: function(response){
                alert("Ha ocurrido un error.");
            }
        });
    };
    function crearTablaResultados(prendas){
        var html = [];
        html.push("<table border='1'><tr>");
        html.push("<th>Nombre de la prenda</th>");
        html.push("<th>Tipo de prenda</th>");
        html.push("<th>Tela</th>");
        html.push("<th>Partes del cuerpo</th>");
        html.push("<th>Color primario</th>");
        html.push("<th>Es formal?</th>");
        html.push("</tr>");
        for(var x in prendas){
            html.push("<tr>");
            var prenda = prendas[x];
            var nombre = prenda.nombre; //string;
            html.push("<td>" + nombre + "</td>");
            var tipo = prenda.tipo;//jsonobject
            var nombreTipo = tipo.nombre; //string
            html.push("<td>" + nombreTipo + "</td>");
            var tela = prenda.tela; //string;
            html.push("<td>" + tela + "</td>");
            var partes = prenda.partes; //string array
            html.push("<td>");
            var partesString = "";
            for(var y in partes){
                partesString += partes[y] + ", ";
            }
            if(partesString.length > 0){
                html.push(partesString.substring(0,partesString.length-2));
            }
            html.push("</td>");
            var colorPrimario = prenda.colorPrimario; //string;
            html.push("<td>" + colorPrimario + "</td>");
            var esFormal = prenda.esFormal; //bool
            html.push("<td>" + (esFormal ? "SI" : "NO") + "</td>");
            html.push("</tr>");
        }
        html.push("</table>");
        return html.join("");
    };
    function loadPartesCuerpo(){
        $.ajax({
            asynch: false,
            type: "GET",
            url: "/partes",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                for(var x in response){
                    var elem = response[x];
                    partesCuerpo.push(elem);
                }
                $('#partesContainer').html(createCheckboxes());
            }
        });
    };
    function changeStatusAllCheckboxes(val){
        for(var x in checkboxes){
            document.getElementById(checkboxes[x]).disabled = val;
        }
    };
    function createCheckboxes(){
        var html = [];
        html.push("<table>");
        for(var x in partesCuerpo){
            html.push("<tr>");
            var parte = partesCuerpo[x];
            var chkId = "checkparte_" + x;
            var checkbox = "<input id='"+chkId+"' type='checkbox' disabled='true'></input>";
            html.push("<td>" + checkbox + "&nbsp;" + parte + "</td>");
            html.push("</tr>");
            checkboxes.push(chkId);
        }
        html.push("</table>");
        return html.join("");
    };
    function getPartesSeleccionadas(){
        var retVal = "";
        for(var x in checkboxes){
            var chk = checkboxes[x];
            if(document.getElementById(chk).checked){
                retVal += x + "-";
            }
        }
        return retVal;
    };
</script>
</body>
</html>