<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Qué me pongo</title>
    <style type="text/css">
        .centerText{
            text-align: center;
            vertical-align: middle;
        }
        .largeText{
            font-size: 35px;
        }
        .mediumText{
            font-size: 20px;
        }
    </style>
</head>

<body th:style="'background:url('+ @{/bkgd.jpg} +') no-repeat fixed right bottom;'" onload="load();">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Ver guardarropas</h1>
    </div>
    <div>
        <img src="../verGuardarropasButton.jpg">
        <img src="../back.jpg" style="cursor: pointer;" title="Volver" id="backButton" alt="Volver">
    </div>
    <div id="authTokenDiv" hidden><span th:text="${authToken}"></span></div>
    <div>
        <div th:id="guardarropasContainer"></div>
    </div>

</main>
<script type="text/javascript">
    var idToken;
    var guardarropas = [];
    document.getElementById("backButton").onclick = function(){
        window.history.back();
    };
    function load(){
        idToken = document.getElementById("authTokenDiv").innerHTML.replace("<span>","").replace("</span>","");
        $.ajax({
            asynch: false,
            type: "GET",
            url: "/user/guardarropa?idToken=" + idToken,
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response){
                var htmlContent = [];
                for(var x in response){
                    var unGuardarropas = response[x];
                    guardarropas.push(unGuardarropas);
                }
                armarHtmlCompleto();
            },
            error: function(response){
                alert("Ha ocurrido un error.");
            }
        });
    };
    function armarHtmlCompleto(){
        var htmlContent = [];
        if(guardarropas.length != 0){
            for(var x in guardarropas){
                var unGuardarropas = guardarropas[x];
                htmlContent.push("<table>" + armarHtml(unGuardarropas) + "</table>");
            }
        } else {
            htmlContent.push("<tr>");
            htmlContent.push("<td>");
            htmlContent.push("(No hay guardarropas)");
            htmlContent.push("</td>");
            htmlContent.push("</tr>");
        }
        $('#guardarropasContainer').html(htmlContent.join(""));
    };
    function armarHtml(guard){
        var html = [];
        var id = guard.id;
        var nombre = guard.nombre;
        html.push("<tr>");
        html.push("<td class='centerText largeText'>");
        html.push(nombre);
        html.push("</td>");
        html.push("<td>");
        html.push("<img src='../modificarButton.jpg' style='cursor: pointer' title='Modificar nombre' alt='Modificar nombre' onclick='modificarNombreGuardarropas("+id+");'></img>");
        html.push("</td>");
        html.push("<td>");
        html.push("<img src='../eliminarButton.jpg' style='cursor: pointer' title='Eliminar guardarropas' alt='Eliminar guardarropas' onclick='eliminarGuardarropas("+id+");'></img>");
        html.push("</td>");
        html.push("</tr>");
        html.push("<tr>");
        html.push("<td>");
        html.push("<table>");
        var prendas = guard.prendas;
        if(prendas.length > 0){
            for(var x in prendas) {
                var prenda = prendas[x];
                var idPrenda = prenda.id;
                html.push("<tr><td> · </td>");
                html.push("<td class='mediumText'>");
                html.push(prenda.nombre);
                html.push("</td>");
                html.push("<td>");
                html.push("<img src='../quitarButton.jpg' style='cursor: pointer' title='Quitar prenda' alt='Quitar prenda' onclick='quitarPrenda("+id+","+idPrenda+");'></img>");
                html.push("</td>");
                html.push("</tr>");
            }
        } else {
            html.push("<tr>");
            html.push("<td>");
            html.push("(Este guardarropas está vacío)");
            html.push("</td>");
            html.push("</tr>");
        }
        html.push("</table>");
        html.push("</td>");
        html.push("</tr>");
        return html.join("");
    };
    function modificarNombreGuardarropas(idGuardarropas){
        var nuevoNombre = prompt("Elija un nuevo nombre", "Guardarropas " + idGuardarropas);
        if(nuevoNombre != null && nuevoNombre != ""){
            $.ajax({
                asynch: false,
                type: "PATCH",
                url: "/user/guardarropa/" + idGuardarropas + "/mod?nombre=" + nuevoNombre + "&idToken=" + idToken,
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response){
                    for(var x in guardarropas){
                        var unGuardarropas = guardarropas[x];
                        if(unGuardarropas.id == idGuardarropas){
                            unGuardarropas.nombre = nuevoNombre;
                            break;
                        }
                    }
                    armarHtmlCompleto();
                },
                error: function(response){
                    alert("Ha ocurrido un error.");
                }
            });
        }
    };
    function eliminarGuardarropas(idGuardarropas){
        for(var x in guardarropas){
            var unGuardarropas = guardarropas[x];
            if(unGuardarropas.id == idGuardarropas){
                if(unGuardarropas.prendas.length != 0){
                    alert("Para eliminar el guardarropas, el mismo debe estar vacío.");
                    return;
                }
                break;
            }
        }
        $.ajax({
            asynch: false,
            type: "DELETE",
            url: "/user/guardarropa/" + idGuardarropas + "?idToken=" + idToken,
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function(response){
                var temp = [];
                for(var x in guardarropas){
                    var unGuardarropas = guardarropas[x];
                    if(unGuardarropas.id != idGuardarropas){
                        temp.push(unGuardarropas);
                    }
                }
                guardarropas = temp;
                armarHtmlCompleto();
            },
            error: function(response){
                alert("Ha ocurrido un error.");
            }
        });
    };
    function quitarPrenda(idGuardarropas,idPrenda){
        $.ajax({
            asynch: false,
            type: "DELETE",
            url: "/user/guardarropa/" + idGuardarropas + "/prenda/" + idPrenda + "?idToken=" + idToken,
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function(response){
                var temp = [];
                for(var x in guardarropas){
                    var unGuardarropas = guardarropas[x];
                    if(unGuardarropas.id == idGuardarropas){
                        var prendas = unGuardarropas.prendas;
                        for(var y in prendas){
                            var prenda = prendas[y];
                            if(prenda.id != idPrenda){
                                temp.push(prenda);
                            }
                        }
                        unGuardarropas.prendas = temp;
                        break;
                    }
                }
                armarHtmlCompleto();
            },
            error: function(response){
                alert("Ha ocurrido un error.");
            }
        });
    };
</script>
</body>
</html>